/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 1%;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.title-section {
    display: flex;
    justify-content: center;
}

.background-img {
    background-image: url("https://picsum.photos/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: large;
    width: 600px;
    height: 400px;
}

.row {
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
}

.project {
    text-align: center;
}

footer {
    background-color: rgb(246, 243, 243);
    padding: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
}

.links button {
    background-color: rgb(240, 246, 245);
    margin: 2%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(207, 204, 204);
}

.contact-me {
    background-color: rgb(240, 246, 245);
    text-decoration: none;
    border: 1px solid rgb(207, 204, 204);
    padding: 5px 10px;
}
.contact-me:hover {
    border: 1px solid black;
    color: whitesmoke;
    background-color: grey;
}

button a {
    text-decoration: none;
    font-size: .75rem;
    color: black;
}

button:hover {
    border: 1px solid black;
    color: white;
    background-color: darkgray
}

.fa-brands {
    padding: 2%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

.fa-brands:hover {
    opacity: 0.7;
}

.fa-instagram {
    color: rgb(236, 153, 153);
    order: -2;
}

.fa-linkedin {
    color: rgb(191, 231, 240);
}

@media (max-width: 800px){
    .row {
        flex-wrap: wrap;
    }
    nav {
        justify-content: space-around;
    }
}

@media (max-width: 500px){
    nav {
        flex-direction: column;
        margin: 2%;
    }

    .links {
        flex-direction: column;
    }

    h2 {
        margin: 2%; 
    }
}